<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
  <link rel="stylesheet" href="/css/register-page.css">
</head>

<body>
  <form action="/register" method="POST">
    <ul class="wrapper">
      <h2>User Registration</h2>
      <li class="form-row">
        <label for="user-name">Username</label>
        <input type="text" name="UserName" class="user-name" placeholder="Enter your username">
      </li>
      <li class="form-row">
        <label for="password">Password</label>
        <input type="password" name="Password" class="password" placeholder="Enter your password">
      </li>
      <li class="form-row">
        <label for="first-name">First Name</label>
        <input type="text" name="FirstName" class="first-name" placeholder="Enter your first name">
      </li>
      <li class="form-row">
        <label for="user-name">Last name</label>
        <input type="text" name="LastName" class="last-name" placeholder="Enter your last name">
      </li>
      <li class="form-row">
        <label for="birthday">DOB</label>
        <input type="text" name="DOB" class="birthday" placeholder="Ex. 01/01/1995">
      </li>
      <li class="form-row">
        <label for="address">Address</label>
        <input type="text" name="Address" class="address" placeholder="Ex. 123 Main St. Houston, TX 77001">
      </li>
      <li class="form-row">
        <label for="address">Email</label>
        <input type="text" name="Email" class="email" placeholder="Ex. john.doe@gmail.com">
      </li>
      <li class="form-row" id="btn">
        <button type="submit">Submit</button>
      </li>
    </ul>
  </form>
</body>

</html>