.nav-link1 {
  display: flex;
  object-position: right;
}

.navbar {
  background-color: #0c2d48;
  width: 100vw;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #b1d4e0;
  height: 100vh;
  width: 100vw;
}

button {
  margin-right: 10px;
}

.wrapper {
  background-color: #2e8bc0;
  list-style-type: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  place-items: center;
  height: 100vh;
  width: 97.5vw;
  box-shadow: 8px 8px 15px rgb(53, 53, 53);
  margin: 15px;
}