body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(180deg, #0c2d48, #145da0);
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  color: rgb(46, 46, 46);
}

.wrapper {
  background-color: #b1d4e0;
  list-style-type: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  height: 40em;
  width: 30em;
  box-shadow: 8px 8px 15px rgb(53, 53, 53);
}

h2 {
  padding: 0em 0em 0.5em 0em;
}

.form-row {
  padding: 0.75em 2em 0.75em 2em;
  display: flex;
  /* justify-content: center; */
  align-self: stretch;
  align-items: center;
  flex-wrap: wrap;
}

.form-row > label {
  padding: 0.5em 1em 0.5em 0;
  flex: 1;
}

.form-row > input {
  flex: 2;
  padding: 0.5em;
  border-radius: 8px;
  border: 1.5px solid rgb(186, 186, 186);
}

.form-row > input:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

#btn {
  align-self: center;
}

.form-row > button {
  padding: 1em 1.25em;
  background: rgb(118, 118, 118);
  color: white;
  border: 0;
  border-radius: 8px;
}

.form-row > button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}