html, body{
  margin: 0px;
  padding: 0px;
}
.container{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  font-family: cursive;
}
.note{
  width: 300px;
  height: 250px;
  position: relative;
  border-radius: 5px;
  margin: 20px;
}
.note p{
  letter-spacing: 3px;
  top: 20%;
  font-size: 28px;
  text-align: center;
  font-weight: 500;
}
.note::before, .note::after{
  content: "";
  width: 40%;
  height: 10px;
  position: absolute;
  bottom: 10px;
  box-shadow: 0 8px 15px #696666;
  z-index: -1;
}
.note::before{
  left: 10px;
  transform: skewX(-5deg) rotateX(-5deg);
}
.note:after{
  right: 10px;
  transform: skewY(5deg) rotateX(5deg);
}
.line{
  width: 100%;
  height: 25px;
}
.container div:nth-child(1){
  background: #ffe739;
}
.container div:nth-child(2){
  background: #ffe739;
}
/* .container div:nth-child(2) .line{
  background: linear-gradient(#ffe739, red);
}
.container div:nth-child(2) .line{
  background: linear-gradient(#ffe739, green);
}
.container div:nth-child(2){
  background: #ffe739;
} */